/*CSS for Magazine Cover*/

* {
  /*Reset browser default padding/margins */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  /* Will help with alignment */
  margin-top: 20px;
  background-color: #444;
}

.wrapper {
  background-color: #f8f8f8;
  padding: 20px;
  /* Remove these borders when finished */
  border: 1px solid orange;
  /* Create a 16:9 container */
  width: calc(1920px / 1.5);
  height: calc(1080px / 1.5);
  /* This will center it */
  display: block;
  margin: auto;
}

/*I've used a flexbox because there's no grid setup*/
article {
  display: flex;
  height: 100%;
}

/*Col-1 and 2 are the same, use a single class*/
.col-6 {
  flex: 1;
  border: 1px solid blue;
}

/* Use a container class to inject the image background */
.image-container {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid purple;
  background-image: url('../images/rove_head_cropped.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.time-logo-container img {
  height: 100px;
  width: 100px;
}

/*This chould really be a <figure> with a span classed .caption*/
.image-with-caption {
  display: table;
  margin-bottom: 200px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  width: 1px;
}


.image-with-caption p {
  font-weight: bold;
  width: 100%;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
}

.picture-word {
  display: block;
  line-height: 0.5;
  margin-bottom: 0.3em;
}

.short-info {
  font-family: 'Times', serif;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

.author {
  font-family: sans-serif;
  text-decoration: overline;
  margin-bottom: 0.5em;
}

/*See you can target the first paragraph */
/*Then target the first letter of that paragraph*/
.article-body p:first-child:first-letter {
  color: black;
  float: left;
  font-family: Impact;
  font-size: 75px;
  line-height: 60px;
  padding-left: 3px;
  padding-right: 8px;
  padding-top: 4px;
}

.article-body p {
  column-count: 3;
}

.article-body {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

/* Use time instead of .date*/
.date {

}

.footer {
  clear: both;
}

/*** HELPER CLASSES ***/

.responsive-img {
  height: 100%;
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}
