*
{
  box-sizing: border-box;
}
body
{
  margin: 2em;
}
.wrapper
{
  max-width: 1024px;
}
.col1
{
  padding-right: 1em;
  width: 50%;
}
.article
{
  column-count: 3;
}
.col2
{
  width: 50%;
}
.background-image {
  background-image: url('../images/rove_head.png');
  background-repeat: no-repeat;
  height: 1110px;
}
.time-logo
{
  height: 100px;
  width: 100px;
}
.image-with-caption
{
  display: table;
  /** margin-bottom: 200px; **/
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  width: 1px;
}
.image-with-caption img
{
  width: 150px;
}
.image-with-caption p
{
  font-weight: bold;
  width: 100%;
}
h1.title
{
}
.short-info
{
}
.author
{
}
p.article:first-letter
{
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-left: 3px;
  padding-right: 8px;
  padding-top: 4px;
}
.article {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.date {
}
.footer {
  clear: both;
}

/*** HELPER CLASSES ***/

.responsive-img
{
  height: 100%;
  width: 100%;
}
.float-left
{
  float: left;
}
.float-right
{
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
